*.o
*.a
*.la
*.lo
.libs/
.deps/
Makefile
Makefile.in
/config.log
/config.status
/configure
/libtool
autom4te.cache/
src/freebankd
src/freebank-cli
src/freebank-tx
src/test/test_bitcoin
src/qt/freebank-qt
